==============================================================================================================================================================
Сборка Gulp 4 для верстки
----------------------------------------------------------------------
Интерфейс командной строки для gulp
npm i --global gulp-cli
----------------------------------------------------------------------
Команда для установки всех пакетов:
npm i gulp gulp-sass sass gulp-file-include gulp-clean gulp-server-livereload gulp-sourcemaps gulp-plumber gulp-notify gulp-group-css-media-queries --save-dev

Описание пакетов:
gulp - собственно Gulp
gulp-sass - Сборка SASS / SCSS
sass - Необходим для сборки SASS / SCSS
gulp-file-include - Подключение файлов друг в друга. HTML include
gulp-clean - Удаление файлов
gulp-server-livereload - Сервер с автообновлением страницы
gulp-sourcemaps - Исходные карты для CSS
gulp-plumber - Фикс ошибок при сборке
gulp-notify - Нотификации
gulp-group-css-media-queries - Группировка CSS медиа запросов


----------------------------------------------------------------------
создаем файл 
gulpfile.js 
в нем будем писать таски
----------------------------------------------------------------------
достаем gulp
<!-- const gulp = require ('gulp') -->
----------------------------------------------------------------------

пишем таски. 

синтаксис.

вызываем у gulp функцию task 
она принимает 2 аргумента:
1 - название таска в виде строки (hello)
2 - функция, которая будет запускаться при вызове этой таски


<!-- gulp.task('hello', function () {
	console.log('hello gulp');
}); -->

для вызова таски в консоли пишем npx gulp hello (где hello - название таски (может быть любое))


Чтобы подать сигнал о завершении работы такса галпу, нужно запустить колбэк фукцию, которую нужно передать в нашу исполняющую функцию, принято называть ее done()


<!-- gulp.task('hello', function (done) {
	console.log('hello gulp');
	done()
}); -->


<!-- gulp.task('fuck', function (done) {
	console.log('fuck you gulp');
	done()
}); -->

Создаем таск, который будет запускаться по команде npx gulp (по умолчанию). Даем ему имя default.

Он будет запускать серию тасков. Для этого используем его метод series и перечисляем уже прописанные где-то таски через , .

<!-- 
gulp.task("default", gulp.series("hello","fuck"))
 -->

Чтобы добавлять пакеты через require нужно указыать их имя как package-json


----------------------------------------------------------------------gulp-file-include-------------------------------------------------


Пишем таску для gulp-file-include. 

1 Для этого в теле исполняемой функции вызываем gulp, в его метод src передаем путь (относительно gulpfile.js) к html файлам (или маску к группе файлов), в которые нужно заинклюдить другие файлы 

2 В метод pipe передаем функцию из пакета gulp-file-include , которая собственно обрабатывает файлы. Она принимает в себя настройки  в виде объекта {
	prefix: префикс типа строка, обозначающий, что сейчас будет написан include;
	basepath: относительно чего будет указан путь к файлам, которые нужно заинклюдить

	('@file': include file relative to the dir in which file resides (example)
	'@root': include file relative to the dir in which gulp is running
	path/to/dir: include file relative to the basepath you provide)

	(подробнее)(https://www.npmjs.com/package/gulp-file-include)
}

3 Внутри pipe вызываем метод gulp.dest() и передаем в него путь к объединенным вновь созданным файлам.

<!-- const fileInclude = require('gulp-file-include');

const fileincludeSettings = { prefix: '@@', basepath: '@file' };

gulp.task('fileinclude', function (done) {
	gulp
	.src('./src/*.html')
	.pipe(fileInclude(fileincludeSettings))
	.pipe(gulp.dest('./dist/'));
	done()
}); -->

Вместо done() можно использовать return на методы, создающие поток: такие как gulp.src и pipe

<!-- 
	gulp.task('fileinclude', function () {
	return gulp.src('./src/*.html').pipe(fileInclude(fileincludeSettings)).pipe(gulp.dest('./dist/'));
});
 -->

----------------------------------------------------------------------gulp-sass---------------------------------------------------------------------


1. Достаем gulp-sass, сразу его вызываем и передаем ему то что содержится в библиотеке sass.
2. В gulp.src указываем путь ко всем файлам scss, которые нужно соединить в единый main.css

<!-- 
const scss = require("gulp-sass")(require("sass"))

gulp.task ("sass", function(done){
	gulp
	.src("./src/scss/*.scss")
	.pipe(scss())
	.pipe(gulp.dest("./dist/css"))
	done()
})
 -->

------------------------------------------------------------------ Копирование из src в dist--------------------------------------------------------------------

/**/*  - означает все вложенные папки любого уровня вложенности и файлы с любыми расширениями - короче вообще всё

<!-- gulp.task ("copy-files",function(done){
	gulp
	.src("./src/img/**/*")
	.pipe(gulp.dest("./dist/img"))
	done()
}) -->


-------------------------------------------------------------------gulp-server-livereload ----------------------------------------------------------------------

Лайвсервер для gulp

1 В gulp.src указываем путь к скомпилированным файлам (к корню проекта (папка dist))
2 В функцию server передаем объект с настройками {
	livereload: чтобы перезагружался при внесении изменений,
	open: чтобы при запуске сразу отрывал браузер
}

<!-- 
const server = require('gulp-server-livereload');

gulp.task('startServer', function () {
	return gulp.src('./dist/').pipe(
		server({
			livereload: true,
			open: true,
		}),
	);
});
 -->


----------------------------------------------------------------------gulp-clean ----------------------------------------------------------------------

Удаление папки dist

1. достаем File System, чтобы иметь возможность проверить существование пути к папке dist. Метод existSync.
2. gulp-clean Достаем
3. подаем на вход путь к папке dist и вызываем функцию gulp-clean (у нас это clear)

4. Чтобы не было ошибки, при попытке удалить dist, если dist при этом уже отсутствует делаем проверку if (fs.existsSync('./dist/')), и если dist есть , то он будет удален и будет возвращен поток, если dist уже отсутствует, то gulp-clean не будет запущен и просто вернется done()


5. Для ускорения работы вторым аргументом для gulp.src можно передать объект с настройками { read: false }, с ним gulp-clean не будет читать файлы, а просто брать чтобы удалить

6. чтобы в процессе удаления система не спрашивала разрешения на удаление никаких файлов в clean передаем первым параметром объект с настроками { force: true } (типа форсированное удаление активировано )

<!-- 
const fs = require('fs');

const clean = require('gulp-clean');

gulp.task('clear', function (done) {
	if (fs.existsSync('./dist/')) {
		return gulp.src('./dist/', { read: false }).pipe(clean({ force: true }));
	}
	done();
});
 -->

----------------------------------------------------------------------gulp.watch----------------------------------------------------------------------

Навешиваем слежение за изменением исходных файлов

gulp.watch принимает 2 параметра 
1. путь к файлу или маска пути к группе файлов 
2. функция, которая запускает таски (это gulp.parralel и gulp.series)(соответственно параллельный и последовательный запуск тасок)
<!-- 
gulp.task('watch', function () {
	gulp.watch('./src/scss/**/*.scss', gulp.parallel('sass'));
	gulp.watch('./src/**/*.html', gulp.parallel('fileinclude'));
	gulp.watch('./src/img/**/*', gulp.parallel('copy-files'));
});
 -->

---------------------------------------------------------------------- gulp default ----------------------------------------------------------------------



команда npx gulp запускает таску default

в default описываем последовательность запуска ранее созданных тасок (таск для запуска тасок)

 функция, которая запускает таски (это gulp.parralel и gulp.series)(соответственно параллельный и последовательный запуск тасок) принимает в себя в качестве параметров таски также в виде строки через запятую

<!-- 
gulp.task(
	'default',
	gulp.series(
		'clear',
		gulp.parallel('sass', 'fileinclude', 'copy-files'),
		gulp.parallel('startServer', 'watch'),
	),
);
 -->

 ------------------------------------------------------------------gulp-sourcemaps--------------------------------------------------------------------------

Модифицируем таск scss, добавляем соурсмапы
1. 	 Добавляем после указания пути к исходным файлам инициализацию функции сорсмап.pipe(sourceMaps.init())
2. 	 Добавляем .pipe(sourceMaps.write()) перед помещением css файла в dist , чтобы сорсмап записался в конечный файл
<!-- 
	const scss = require('gulp-sass')(require('sass'));
const sourceMaps = require('gulp-sourcemaps');

gulp.task('sass', function () {
	return gulp
		.src('./src/scss/*.scss')
		.pipe(sourceMaps.init())
		.pipe(scss())
		.pipe(sourceMaps.write())
		.pipe(gulp.dest('./dist/css'));
});
 -->

 ------------------------------------------------------------------gulp-group-css-media-queries-----------------------------------------------------------------

 Группирует медиазапросы в конечном css файле, но при этом ломает плагин gulp-sourcemaps
Просто реквайрим его и добавляем через pipe после срабатывания gulp-sass плагина

<!-- 
	const scss = require('gulp-sass')(require('sass'));
const sourceMaps = require('gulp-sourcemaps');
 const mediaQueries = require('gulp-group-css-media-queries');

gulp.task('sass', function () {
	return gulp
		.src('./src/scss/*.scss')
		.pipe(sourceMaps.init())
		.pipe(scss())
		.pipe(mediaQueries())
		.pipe(sourceMaps.write())
		.pipe(gulp.dest('./dist/css'));
});
 -->

 ------------------------------------------------------------------ gulp-plumber + gulp-notify -----------------------------------------------------------------
 gulp-plumber - позволяет избежать зависания приложения при ошибках
 gulp-notify - выдает ошибки во всплывающем окне, чтобы мы видели откуда они пришли, т.к. приложение будет работать и без gulp-notify можно подумать что ошибок нет
 
 реквайрим plumber и notify

 plumber вызываем после указания пути к исходным файлам и передаем в него объект с настройками , в свойство errorHandler записываем значение вызова функции notify.onError в которую в свою очередь передаем настройки уже для нее.
<!-- 
const plumber = require('gulp-plumber');
const notify = require('gulp-notify');

const plumberScssConfig = {
	errorHandler: notify.onError({
		title: 'Styles', // место откуда пришла ошибка
		message: 'Error <%= error.message %>',// шаблон для текста ошибки (из документации notify)
		sound: false, //отключение звукового оповещения
	}),
};

gulp.task('sass', function () {
	return (
		gulp
			.src('./src/scss/*.scss')
			.pipe(plumber(plumberScssConfig))
			.pipe(sourceMaps.init())
			.pipe(scss())
			// .pipe(mediaQueries())
			.pipe(sourceMaps.write())
			.pipe(gulp.dest('./dist/css'))
	);
});

 -->

То же самое можно сделать для других типов файлов

 Например html:

<!-- 
	const plumberHtmlConfig = {
	errorHandler: notify.onError({
		title: 'Html', // место откуда пришла ошибка
		message: 'Error <%= error.message %>',// шаблон из документации notify
		sound: false,
	}),
};

gulp.task('fileinclude', function () {
	return gulp
	.src('./src/*.html')
	.pipe(plumber(plumberHtmlConfig))
	.pipe(fileInclude(fileincludeSettings))
	.pipe(gulp.dest('./dist/'));
});
 -->

 ------------------------------------------------------------------gulp-group-css-media-queries-----------------------------------------------------------------
 
 Проект всегда передается без папки node_modules, а для того чтобы он заработал как надо на другом пк - вводится команда npm i , она берет все зависимости из package.json и потом скачивает и подключает все нужные пакеты сама. 

 Чтобы папка не попадала в Git нужно добавить ее в gitignore

 1. Создаем пустой файл с названием .gitignore
 2. Просто пишем название папки
 3. Все! Эта папка не будет теперь попадать в Git
 
 
 
 ------------------------------------------------------------------gulp-group-css-media-queries-----------------------------------------------------------------
 ------------------------------------------------------------------gulp-group-css-media-queries-----------------------------------------------------------------
 ------------------------------------------------------------------gulp-group-css-media-queries-----------------------------------------------------------------
 ------------------------------------------------------------------gulp-group-css-media-queries-----------------------------------------------------------------

Сборка скриптов. webpack, babel

Установка babel:
npm i gulp-babel @babel/core @babel/preset-env

- JS таск
- Настройки package-json

----------------------------------------------------------------------

Установка webpack:
npm i webpack-stream style-loader css-loader --save-dev

- JS таск
- webpack конфиг
- пример файлов с модулями

Пример с datepicker:
npm i air-datepicker -S


JS:
import AirDatepicker from 'air-datepicker';
import 'air-datepicker/air-datepicker.css';

document.addEventListener('DOMContentLoaded', () => {
	new AirDatepicker('#my-element');
});

HTML:
<!-- <input type="text" id="my-element"> -->

----------------------------------------------------------------------

Картинки:
npm i gulp-imagemin@7 --save-dev

.pipe(imagemin({ verbose: true }))


----------------------------------------------------------------------

Ускорение сборки

npm install --save-dev gulp-changed

- использование в картинках, HTML, JS, CSS


----------------------------------------------------------------------


web-p

npm i gulp-webp gulp-webp-html gulp-webp-css --save-dev




